<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geraki</title>
</head>

<body>
  <div class="container">
    <app-text-input></app-text-input>
    <app-button (onClick)="time($event)">{{toggle ? 'Stop' :
      'Start'}}</app-button>
    {{timeWorked.TimePassed}}
  </div>
</body>

</html>