.text-input{
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    backdrop-filter: blur(1px);
    border:0;
    height: 3rem;
    outline: 0rem;
    text-align: center;
    color: white;
    font-weight: bold;
}