.featherSpinner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 3rem;
    animation: feather 5s ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes feather {
    0% {
    transform: rotate(50deg) translate(0px, 2rem);
    }
    25% {
    transform: rotate(90deg) translate(0px, 4rem);
    }
    50% {
        transform: rotate(50deg) translate(0px, 2rem);
    }
    75% {
        transform: rotate(90deg) translate(0px, 4rem);
    }
    100% {
        transform: rotate(70deg) translate(0px, 3rem);
    }
}