/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%
}
body{
    background-color:#2a2c36;
    background-image: URL('assets/Logo.svg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}